Hi {{person.name}},

You have successfully purchased {{totalCost}}{{currency}} worth of equipment.
The goods will be delivered to you at {{person.address}} on {{dateOfDelivery}}.

Sincerely,
{{companyName}}
